body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS FOR Header.js */
/* ----------------- */

.navBar {
  display: flex;
  background-color: burlywood;
  padding: 10px;
  justify-content: space-evenly;
}

.navAnchor {
  text-decoration: none;
  display: inline-flex;
  justify-content: space-around;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.navAnchor:hover {
  text-decoration: underline;
}

/* CSS FOR Projects.js */
/* ----------------- */

.projectCard {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: #005E9B;
  color: white;
  text-align: center;
  padding: 2em;
}

.profileName {
  font-size: 2rem;
}

.profileName::after {
  content: "";
  display: block;
  height: 1px;
  width: 2em;
  background: #5bcbf0;
  margin: 0.7em auto 0.5em;
  opacity: 0.35;
}
 
.profilePosition {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  color: #5bcbf0;
}

.profileBody {
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
}

.projectImg{
  width: 150px;
  height: 150px;
  border-radius: 25%;
  border: 4px solid white;
}

.socialLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
  margin: 0 auto;
}

.socialLink {
  color: #5bcbf0;
  opacity: 0.5;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.125rem;
}

.socialLink:hover,
.socialLink:focus {
  opacity: 1;
} 

.mainContainer {
  display: flex;
  margin: 2em auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .projectCard {
    flex-direction: row;
  }
  .profileSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .profileMain {
    text-align: left;
    margin-left: 2em;
  }

  .profileName:after {
    margin-left: 0;
  }
}


/* CSS FOR Footer.js */
/* ----------------- */

.footerImg {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 4px solid white;
  display: flex;
  margin-top: 10px;
}

 .mainFooter {
  background: #333;
  padding: 2em;
  position: sticky;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.footerContainer {
  min-height: 100vh;
}

.topFooter {
  display: flex;
  color: white;
  font-size: 1.3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs > input {
  padding: 10px;
  background: #5bcbf0;
  border-radius: 10px;
}

.inputs > input::placeholder {
  color: black;
  font-weight: 600;
}

.inputs > button {
  padding: 5px;
  border-radius: 10px;
  background: #5bcbf0;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7px auto;
  padding: 0;
}

.footerSocialLink {
  color: #5bcbf0;
  opacity: 0.5;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.125rem;
}

.footerSocialLink:hover,
.footerSocialLink:focus {
  opacity: 1;
}